{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<div class="container">
    <h1>Todas las páginas</h1>
    <hr>
    {% for letter, entries in grouped_entries.items %}
        <h1 class="text-dark">{{ letter }}</h1>
        <hr>
        {% for entry in entries %}
            <a href="{% url 'search' query=entry %}" class="text-dark navbar-toggler p-0">{{ entry }}</a>
            <hr>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}